Year_3/TSDWL/WSDL/FootballClient/src/conf/xml-resources/web-service-references/info/wsdl/ws.footballpool.dataaccess.eu/info.wso.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="https://footballpool.dataaccess.eu" name="Info" targetNamespace="https://footballpool.dataaccess.eu">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="https://footballpool.dataaccess.eu">
      <xs:complexType name="tAllCardsInfo">
        <xs:sequence>
          <xs:element name="dDate" type="xs:date"/>
          <xs:element name="iMinute" type="xs:int"/>
          <xs:element name="sTeam1Name" type="xs:string"/>
          <xs:element name="sTeam1Flag" type="xs:string"/>
          <xs:element name="sTeam2Name" type="xs:string"/>
          <xs:element name="sTeam2Flag" type="xs:string"/>
          <xs:element name="sPlayerName" type="xs:string"/>
          <xs:element name="iYellow" type="xs:int"/>
          <xs:element name="iRed" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tPlayerName">
        <xs:sequence>
          <xs:element name="iId" type="xs:int"/>
          <xs:element name="sName" type="xs:string"/>
          <xs:element name="sCountryName" type="xs:string"/>
          <xs:element name="sCountryFlag" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tTeamPlayerCardInfo">
        <xs:sequence>
          <xs:element name="iID" type="xs:int"/>
          <xs:element name="sName" type="xs:string"/>
          <xs:element name="iYellowCards" type="xs:int"/>
          <xs:element name="iRedCards" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tTeamPlayerName">
        <xs:sequence>
          <xs:element name="iID" type="xs:int"/>
          <xs:element name="sName" type="xs:string"/>
          <xs:element name="sTeamName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tStadiumInfo">
        <xs:sequence>
          <xs:element name="sName" type="xs:string"/>
          <xs:element name="iSeatsCapacity" type="xs:int"/>
          <xs:element name="sCityName" type="xs:string"/>
          <xs:element name="sWikipediaURL" type="xs:string"/>
          <xs:element name="sGoogleMapsURL" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tTeamCoachName">
        <xs:sequence>
          <xs:element name="sTeamName" type="xs:string"/>
          <xs:element name="sCoachName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tCountry">
        <xs:sequence>
          <xs:element name="iId" type="xs:int"/>
          <xs:element name="sName" type="xs:string"/>
          <xs:element name="sISOCode" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tGameLevelInfo">
        <xs:sequence>
          <xs:element name="iLevel" type="xs:int"/>
          <xs:element name="sLevelCode" type="xs:string"/>
          <xs:element name="dFirstGame" type="xs:date"/>
          <xs:element name="dtFirstGameTime" type="xs:dateTime"/>
          <xs:element name="iFirstGameID" type="xs:int"/>
          <xs:element name="dLastGame" type="xs:date"/>
          <xs:element name="iLastGameID" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tGameIDsPerCity">
        <xs:sequence>
          <xs:element name="sCity" type="xs:string"/>
          <xs:element name="iGameIDs" type="tns:ArrayOfInt"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tGameResult">
        <xs:sequence>
          <xs:element name="iGameNumber" type="xs:int"/>
          <xs:element name="sDescription" type="xs:string"/>
          <xs:element name="dtLocalPlayDateTime" type="xs:string"/>
          <xs:element name="dtUTCPlayDateTime" type="xs:string"/>
          <xs:element name="sTeamName1" type="xs:string"/>
          <xs:element name="sTeamName2" type="xs:string"/>
          <xs:element name="iScoreTeam1" type="xs:int"/>
          <xs:element name="iScoreTeam2" type="xs:int"/>
          <xs:element name="iRedCards" type="xs:int"/>
          <xs:element name="iYellowCards" type="xs:int"/>
          <xs:element name="sGroupCode" type="xs:string"/>
          <xs:element name="bFinished" type="xs:boolean"/>
          <xs:element name="iPenaltiesWonTeam1" type="xs:int"/>
          <xs:element name="iPenaltiesWonTeam2" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tGroupInfo">
        <xs:sequence>
          <xs:element name="iId" type="xs:int"/>
          <xs:element name="iLevel" type="xs:int"/>
          <xs:element name="sCode" type="xs:string"/>
          <xs:element name="sDescription" type="xs:string"/>
          <xs:element name="dFirstGameDate" type="xs:date"/>
          <xs:element name="dLastGameDate" type="xs:date"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tGroupStanding">
        <xs:sequence>
          <xs:element name="iTeamId" type="xs:int"/>
          <xs:element name="sTeamName" type="xs:string"/>
          <xs:element name="iPlayed" type="xs:int"/>
          <xs:element name="iWon" type="xs:int"/>
          <xs:element name="iDraw" type="xs:int"/>
          <xs:element name="iLost" type="xs:int"/>
          <xs:element name="iGoalsFor" type="xs:int"/>
          <xs:element name="iGoalsAgainst" type="xs:int"/>
          <xs:element name="iPlusMin" type="xs:int"/>
          <xs:element name="iPoints" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tNextGame">
        <xs:sequence>
          <xs:element name="iGameNumber" type="xs:int"/>
          <xs:element name="sLocalDateTime" type="xs:string"/>
          <xs:element name="sUTCDateTime" type="xs:string"/>
          <xs:element name="sTeam1" type="xs:string"/>
          <xs:element name="sTeam2" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tPlayer">
        <xs:sequence>
          <xs:element name="iId" type="xs:int"/>
          <xs:element name="sName" type="xs:string"/>
          <xs:element name="sFullName" type="xs:string"/>
          <xs:element name="sFirstName" type="xs:string"/>
          <xs:element name="sLastName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tPlayerRole">
        <xs:sequence>
          <xs:element name="sCode" type="xs:string"/>
          <xs:element name="sDescription" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tTeamPlayerCardRankInfo">
        <xs:sequence>
          <xs:element name="iRank" type="xs:int"/>
          <xs:element name="iID" type="xs:int"/>
          <xs:element name="sName" type="xs:string"/>
          <xs:element name="iYellowCards" type="xs:int"/>
          <xs:element name="iRedCards" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tTeamPlayerGoalsRankInfo">
        <xs:sequence>
          <xs:element name="iRank" type="xs:int"/>
          <xs:element name="iID" type="xs:int"/>
          <xs:element name="sName" type="xs:string"/>
          <xs:element name="iGoals" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tTeam">
        <xs:sequence>
          <xs:element name="iId" type="xs:int"/>
          <xs:element name="sName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tTopScorerTop5">
        <xs:sequence>
          <xs:element name="iRank" type="xs:int"/>
          <xs:element name="iGoals" type="xs:int"/>
          <xs:element name="sName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfInt">
        <xs:sequence>
          <xs:element name="int" type="xs:int" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOftAllCardsInfo">
        <xs:sequence>
          <xs:element name="tAllCardsInfo" type="tns:tAllCardsInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOftPlayerName">
        <xs:sequence>
          <xs:element name="tPlayerName" type="tns:tPlayerName" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOftTeamPlayerCardInfo">
        <xs:sequence>
          <xs:element name="tTeamPlayerCardInfo" type="tns:tTeamPlayerCardInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOftTeamPlayerName">
        <xs:sequence>
          <xs:element name="tTeamPlayerName" type="tns:tTeamPlayerName" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOftStadiumInfo">
        <xs:sequence>
          <xs:element name="tStadiumInfo" type="tns:tStadiumInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOftTeamCoachName">
        <xs:sequence>
          <xs:element name="tTeamCoachName" type="tns:tTeamCoachName" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfString">
        <xs:sequence>
          <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOftCountry">
        <xs:sequence>
          <xs:element name="tCountry" type="tns:tCountry" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOftGameLevelInfo">
        <xs:sequence>
          <xs:element name="tGameLevelInfo" type="tns:tGameLevelInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOftGameIDsPerCity">
        <xs:sequence>
          <xs:element name="tGameIDsPerCity" type="tns:tGameIDsPerCity" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOftGroupInfo">
        <xs:sequence>
          <xs:element name="tGroupInfo" type="tns:tGroupInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOftGroupStanding">
        <xs:sequence>
          <xs:element name="tGroupStanding" type="tns:tGroupStanding" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfdate">
        <xs:sequence>
          <xs:element name="date" type="xs:date" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOftNextGame">
        <xs:sequence>
          <xs:element name="tNextGame" type="tns:tNextGame" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOftPlayer">
        <xs:sequence>
          <xs:element name="tPlayer" type="tns:tPlayer" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOftPlayerRole">
        <xs:sequence>
          <xs:element name="tPlayerRole" type="tns:tPlayerRole" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOftTeamPlayerCardRankInfo">
        <xs:sequence>
          <xs:element name="tTeamPlayerCardRankInfo" type="tns:tTeamPlayerCardRankInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOftTeamPlayerGoalsRankInfo">
        <xs:sequence>
          <xs:element name="tTeamPlayerGoalsRankInfo" type="tns:tTeamPlayerGoalsRankInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOftGameResult">
        <xs:sequence>
          <xs:element name="tGameResult" type="tns:tGameResult" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOftTeam">
        <xs:sequence>
          <xs:element name="tTeam" type="tns:tTeam" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOftTopScorerTop5">
        <xs:sequence>
          <xs:element name="tTopScorerTop5" type="tns:tTopScorerTop5" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="AllCardsInfo">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="AllCardsInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AllCardsInfoResult" type="tns:ArrayOftAllCardsInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AllPlayerNames">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="bSelected" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AllPlayerNamesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AllPlayerNamesResult" type="tns:ArrayOftPlayerName"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AllPlayersWithCards">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="AllPlayersWithCardsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AllPlayersWithCardsResult" type="tns:ArrayOftTeamPlayerCardInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AllPlayersWithRole">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sTeamName" type="xs:string"/>
            <xs:element name="sRoleCode" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AllPlayersWithRoleResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AllPlayersWithRoleResult" type="tns:ArrayOftTeamPlayerName"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AllStadiumInfo">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="AllStadiumInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AllStadiumInfoResult" type="tns:ArrayOftStadiumInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AllTeamCoachNames">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="AllTeamCoachNamesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AllTeamCoachNamesResult" type="tns:ArrayOftTeamCoachName"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Cards">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="bYellow" type="xs:boolean"/>
            <xs:element name="iGameNumber" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CardsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CardsResult" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CityNames">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="CityNamesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CityNamesResult" type="tns:ArrayOfString"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Countries">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sCountryName" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CountriesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CountriesResult" type="tns:ArrayOftCountry"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FirstLastGamesEachLevel">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="FirstLastGamesEachLevelResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="FirstLastGamesEachLevelResult" type="tns:ArrayOftGameLevelInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GameIDsGroupedByCity">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="GameIDsGroupedByCityResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="GameIDsGroupedByCityResult" type="tns:ArrayOftGameIDsPerCity"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GameScore">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="iGameNumber" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GameScoreResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="GameScoreResult" type="tns:tGameResult"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GameTeamScore">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="iGameNumber" type="xs:int"/>
            <xs:element name="iTeamId" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GameTeamScoreResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="GameTeamScoreResult" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GoalsScored">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="GoalsScoredResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="GoalsScoredResult" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GroupFirstGameDate">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sGroupCode" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GroupFirstGameDateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="GroupFirstGameDateResult" type="xs:date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GroupInfo">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="GroupInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="GroupInfoResult" type="tns:ArrayOftGroupInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GroupLastGameDate">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sGroupCode" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GroupLastGameDateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="GroupLastGameDateResult" type="xs:date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GroupStandings">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="iGroupId" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GroupStandingsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="GroupStandingsResult" type="tns:ArrayOftGroupStanding"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LevelFirstGameDate">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="iLevel" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LevelFirstGameDateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LevelFirstGameDateResult" type="xs:date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LevelLastGameDate">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="iLevel" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LevelLastGameDateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LevelLastGameDateResult" type="xs:date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Levels">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LevelsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LevelsResult" type="tns:ArrayOfInt"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="MatchDates">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="MatchDatesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MatchDatesResult" type="tns:ArrayOfdate"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="NextGames">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="NextGamesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NextGamesResult" type="tns:ArrayOftNextGame"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Players">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sName" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PlayersResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PlayersResult" type="tns:ArrayOftPlayer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PlayerRoles">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="PlayerRolesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PlayerRolesResult" type="tns:ArrayOftPlayerRole"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PlayersWithCardsRanked">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="PlayersWithCardsRankedResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PlayersWithCardsRankedResult" type="tns:ArrayOftTeamPlayerCardRankInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PlayersWithGoalsRanked">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="PlayersWithGoalsRankedResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PlayersWithGoalsRankedResult" type="tns:ArrayOftTeamPlayerGoalsRankInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ResultsAllGames">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="iGroupId" type="xs:int"/>
            <xs:element name="iLevel" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ResultsAllGamesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultsAllGamesResult" type="tns:ArrayOftGameResult"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="StadiumGoogleMapsURL">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sStadiumName" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="StadiumGoogleMapsURLResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="StadiumGoogleMapsURLResult" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="StadiumInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sStadiumName" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="StadiumInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="StadiumInfoResult" type="tns:tStadiumInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="StadiumNames">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="StadiumNamesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="StadiumNamesResult" type="tns:ArrayOfString"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TeamIDsByGroup">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sGroupCode" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TeamIDsByGroupResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TeamIDsByGroupResult" type="tns:ArrayOfInt"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TeamPlayers">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sTeamName" type="xs:string"/>
            <xs:element name="bSelected" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TeamPlayersResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TeamPlayersResult" type="tns:ArrayOftPlayer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TeamNames">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="TeamNamesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TeamNamesResult" type="tns:ArrayOfString"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Teams">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sTeamName" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TeamsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TeamsResult" type="tns:ArrayOftTeam"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TopScorersList">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="TopScorersListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TopScorersListResult" type="tns:ArrayOftTopScorerTop5"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="AllCardsInfoSoapRequest">
    <part name="parameters" element="tns:AllCardsInfo"/>
  </message>
  <message name="AllCardsInfoSoapResponse">
    <part name="parameters" element="tns:AllCardsInfoResponse"/>
  </message>
  <message name="AllPlayerNamesSoapRequest">
    <part name="parameters" element="tns:AllPlayerNames"/>
  </message>
  <message name="AllPlayerNamesSoapResponse">
    <part name="parameters" element="tns:AllPlayerNamesResponse"/>
  </message>
  <message name="AllPlayersWithCardsSoapRequest">
    <part name="parameters" element="tns:AllPlayersWithCards"/>
  </message>
  <message name="AllPlayersWithCardsSoapResponse">
    <part name="parameters" element="tns:AllPlayersWithCardsResponse"/>
  </message>
  <message name="AllPlayersWithRoleSoapRequest">
    <part name="parameters" element="tns:AllPlayersWithRole"/>
  </message>
  <message name="AllPlayersWithRoleSoapResponse">
    <part name="parameters" element="tns:AllPlayersWithRoleResponse"/>
  </message>
  <message name="AllStadiumInfoSoapRequest">
    <part name="parameters" element="tns:AllStadiumInfo"/>
  </message>
  <message name="AllStadiumInfoSoapResponse">
    <part name="parameters" element="tns:AllStadiumInfoResponse"/>
  </message>
  <message name="AllTeamCoachNamesSoapRequest">
    <part name="parameters" element="tns:AllTeamCoachNames"/>
  </message>
  <message name="AllTeamCoachNamesSoapResponse">
    <part name="parameters" element="tns:AllTeamCoachNamesResponse"/>
  </message>
  <message name="CardsSoapRequest">
    <part name="parameters" element="tns:Cards"/>
  </message>
  <message name="CardsSoapResponse">
    <part name="parameters" element="tns:CardsResponse"/>
  </message>
  <message name="CityNamesSoapRequest">
    <part name="parameters" element="tns:CityNames"/>
  </message>
  <message name="CityNamesSoapResponse">
    <part name="parameters" element="tns:CityNamesResponse"/>
  </message>
  <message name="CountriesSoapRequest">
    <part name="parameters" element="tns:Countries"/>
  </message>
  <message name="CountriesSoapResponse">
    <part name="parameters" element="tns:CountriesResponse"/>
  </message>
  <message name="FirstLastGamesEachLevelSoapRequest">
    <part name="parameters" element="tns:FirstLastGamesEachLevel"/>
  </message>
  <message name="FirstLastGamesEachLevelSoapResponse">
    <part name="parameters" element="tns:FirstLastGamesEachLevelResponse"/>
  </message>
  <message name="GameIDsGroupedByCitySoapRequest">
    <part name="parameters" element="tns:GameIDsGroupedByCity"/>
  </message>
  <message name="GameIDsGroupedByCitySoapResponse">
    <part name="parameters" element="tns:GameIDsGroupedByCityResponse"/>
  </message>
  <message name="GameScoreSoapRequest">
    <part name="parameters" element="tns:GameScore"/>
  </message>
  <message name="GameScoreSoapResponse">
    <part name="parameters" element="tns:GameScoreResponse"/>
  </message>
  <message name="GameTeamScoreSoapRequest">
    <part name="parameters" element="tns:GameTeamScore"/>
  </message>
  <message name="GameTeamScoreSoapResponse">
    <part name="parameters" element="tns:GameTeamScoreResponse"/>
  </message>
  <message name="GoalsScoredSoapRequest">
    <part name="parameters" element="tns:GoalsScored"/>
  </message>
  <message name="GoalsScoredSoapResponse">
    <part name="parameters" element="tns:GoalsScoredResponse"/>
  </message>
  <message name="GroupFirstGameDateSoapRequest">
    <part name="parameters" element="tns:GroupFirstGameDate"/>
  </message>
  <message name="GroupFirstGameDateSoapResponse">
    <part name="parameters" element="tns:GroupFirstGameDateResponse"/>
  </message>
  <message name="GroupInfoSoapRequest">
    <part name="parameters" element="tns:GroupInfo"/>
  </message>
  <message name="GroupInfoSoapResponse">
    <part name="parameters" element="tns:GroupInfoResponse"/>
  </message>
  <message name="GroupLastGameDateSoapRequest">
    <part name="parameters" element="tns:GroupLastGameDate"/>
  </message>
  <message name="GroupLastGameDateSoapResponse">
    <part name="parameters" element="tns:GroupLastGameDateResponse"/>
  </message>
  <message name="GroupStandingsSoapRequest">
    <part name="parameters" element="tns:GroupStandings"/>
  </message>
  <message name="GroupStandingsSoapResponse">
    <part name="parameters" element="tns:GroupStandingsResponse"/>
  </message>
  <message name="LevelFirstGameDateSoapRequest">
    <part name="parameters" element="tns:LevelFirstGameDate"/>
  </message>
  <message name="LevelFirstGameDateSoapResponse">
    <part name="parameters" element="tns:LevelFirstGameDateResponse"/>
  </message>
  <message name="LevelLastGameDateSoapRequest">
    <part name="parameters" element="tns:LevelLastGameDate"/>
  </message>
  <message name="LevelLastGameDateSoapResponse">
    <part name="parameters" element="tns:LevelLastGameDateResponse"/>
  </message>
  <message name="LevelsSoapRequest">
    <part name="parameters" element="tns:Levels"/>
  </message>
  <message name="LevelsSoapResponse">
    <part name="parameters" element="tns:LevelsResponse"/>
  </message>
  <message name="MatchDatesSoapRequest">
    <part name="parameters" element="tns:MatchDates"/>
  </message>
  <message name="MatchDatesSoapResponse">
    <part name="parameters" element="tns:MatchDatesResponse"/>
  </message>
  <message name="NextGamesSoapRequest">
    <part name="parameters" element="tns:NextGames"/>
  </message>
  <message name="NextGamesSoapResponse">
    <part name="parameters" element="tns:NextGamesResponse"/>
  </message>
  <message name="PlayersSoapRequest">
    <part name="parameters" element="tns:Players"/>
  </message>
  <message name="PlayersSoapResponse">
    <part name="parameters" element="tns:PlayersResponse"/>
  </message>
  <message name="PlayerRolesSoapRequest">
    <part name="parameters" element="tns:PlayerRoles"/>
  </message>
  <message name="PlayerRolesSoapResponse">
    <part name="parameters" element="tns:PlayerRolesResponse"/>
  </message>
  <message name="PlayersWithCardsRankedSoapRequest">
    <part name="parameters" element="tns:PlayersWithCardsRanked"/>
  </message>
  <message name="PlayersWithCardsRankedSoapResponse">
    <part name="parameters" element="tns:PlayersWithCardsRankedResponse"/>
  </message>
  <message name="PlayersWithGoalsRankedSoapRequest">
    <part name="parameters" element="tns:PlayersWithGoalsRanked"/>
  </message>
  <message name="PlayersWithGoalsRankedSoapResponse">
    <part name="parameters" element="tns:PlayersWithGoalsRankedResponse"/>
  </message>
  <message name="ResultsAllGamesSoapRequest">
    <part name="parameters" element="tns:ResultsAllGames"/>
  </message>
  <message name="ResultsAllGamesSoapResponse">
    <part name="parameters" element="tns:ResultsAllGamesResponse"/>
  </message>
  <message name="StadiumGoogleMapsURLSoapRequest">
    <part name="parameters" element="tns:StadiumGoogleMapsURL"/>
  </message>
  <message name="StadiumGoogleMapsURLSoapResponse">
    <part name="parameters" element="tns:StadiumGoogleMapsURLResponse"/>
  </message>
  <message name="StadiumInfoSoapRequest">
    <part name="parameters" element="tns:StadiumInfo"/>
  </message>
  <message name="StadiumInfoSoapResponse">
    <part name="parameters" element="tns:StadiumInfoResponse"/>
  </message>
  <message name="StadiumNamesSoapRequest">
    <part name="parameters" element="tns:StadiumNames"/>
  </message>
  <message name="StadiumNamesSoapResponse">
    <part name="parameters" element="tns:StadiumNamesResponse"/>
  </message>
  <message name="TeamIDsByGroupSoapRequest">
    <part name="parameters" element="tns:TeamIDsByGroup"/>
  </message>
  <message name="TeamIDsByGroupSoapResponse">
    <part name="parameters" element="tns:TeamIDsByGroupResponse"/>
  </message>
  <message name="TeamPlayersSoapRequest">
    <part name="parameters" element="tns:TeamPlayers"/>
  </message>
  <message name="TeamPlayersSoapResponse">
    <part name="parameters" element="tns:TeamPlayersResponse"/>
  </message>
  <message name="TeamNamesSoapRequest">
    <part name="parameters" element="tns:TeamNames"/>
  </message>
  <message name="TeamNamesSoapResponse">
    <part name="parameters" element="tns:TeamNamesResponse"/>
  </message>
  <message name="TeamsSoapRequest">
    <part name="parameters" element="tns:Teams"/>
  </message>
  <message name="TeamsSoapResponse">
    <part name="parameters" element="tns:TeamsResponse"/>
  </message>
  <message name="TopScorersListSoapRequest">
    <part name="parameters" element="tns:TopScorersList"/>
  </message>
  <message name="TopScorersListSoapResponse">
    <part name="parameters" element="tns:TopScorersListResponse"/>
  </message>
  <portType name="InfoSoapType">
    <operation name="AllCardsInfo">
      <documentation>Returns an array with the information about the given yellow and red cards in all games. What date, minute, teams that were playing and player name</documentation>
      <input message="tns:AllCardsInfoSoapRequest"/>
      <output message="tns:AllCardsInfoSoapResponse"/>
    </operation>
    <operation name="AllPlayerNames">
      <documentation>Returns an array with the id, name, country and flag reference of all players. Pass a 0 for all players and 1 for only the selected players.</documentation>
      <input message="tns:AllPlayerNamesSoapRequest"/>
      <output message="tns:AllPlayerNamesSoapResponse"/>
    </operation>
    <operation name="AllPlayersWithCards">
      <documentation>Returns an array with the names of all players that have a yellow or a red card. The number of yellow and red cards is returned.</documentation>
      <input message="tns:AllPlayersWithCardsSoapRequest"/>
      <output message="tns:AllPlayersWithCardsSoapResponse"/>
    </operation>
    <operation name="AllPlayersWithRole">
      <documentation>Returns an array with the names of all players that have the passed player role. If you pass a team name the result will be filtered on that team. For possible team names call the function TeamNames. For possible role codes call the function PlayerRoles</documentation>
      <input message="tns:AllPlayersWithRoleSoapRequest"/>
      <output message="tns:AllPlayersWithRoleSoapResponse"/>
    </operation>
    <operation name="AllStadiumInfo">
      <documentation>Returns an array with the information stored about all stadiums. The array contains the names, the city where the stadium can be found, the seat capacity, the google maps and wikipedia URLs</documentation>
      <input message="tns:AllStadiumInfoSoapRequest"/>
      <output message="tns:AllStadiumInfoSoapResponse"/>
    </operation>
    <operation name="AllTeamCoachNames">
      <documentation>Returns an array with the names of all the coaches and the team name he/she is coaching</documentation>
      <input message="tns:AllTeamCoachNamesSoapRequest"/>
      <output message="tns:AllTeamCoachNamesSoapResponse"/>
    </operation>
    <operation name="Cards">
      <documentation>Returns the total number of red or yellow cards given for all games (iGameNumber &lt; 1) or a specific game. For the game numbers call the function ResultsAllGames</documentation>
      <input message="tns:CardsSoapRequest"/>
      <output message="tns:CardsSoapResponse"/>
    </operation>
    <operation name="CityNames">
      <documentation>Returns an array with all the city names where games are played</documentation>
      <input message="tns:CityNamesSoapRequest"/>
      <output message="tns:CityNamesSoapResponse"/>
    </operation>
    <operation name="Countries">
      <documentation>Get the top 25 countries starting with or containing the value of sName</documentation>
      <input message="tns:CountriesSoapRequest"/>
      <output message="tns:CountriesSoapResponse"/>
    </operation>
    <operation name="FirstLastGamesEachLevel">
      <documentation>Returns an array with a play levels and per level the start and end game date and ID</documentation>
      <input message="tns:FirstLastGamesEachLevelSoapRequest"/>
      <output message="tns:FirstLastGamesEachLevelSoapResponse"/>
    </operation>
    <operation name="GameIDsGroupedByCity">
      <documentation>Returns an array of Game IDs grouped by City Name</documentation>
      <input message="tns:GameIDsGroupedByCitySoapRequest"/>
      <output message="tns:GameIDsGroupedByCitySoapResponse"/>
    </operation>
    <operation name="GameScore">
      <documentation>Returns the results of a given game (pass the game ID). For the game numbers call the function ResultsAllGames</documentation>
      <input message="tns:GameScoreSoapRequest"/>
      <output message="tns:GameScoreSoapResponse"/>
    </operation>
    <operation name="GameTeamScore">
      <documentation>Returns the score for a team in a game. For the game numbers call the function ResultsAllGames. For the team ID call the function Teams</documentation>
      <input message="tns:GameTeamScoreSoapRequest"/>
      <output message="tns:GameTeamScoreSoapResponse"/>
    </operation>
    <operation name="GoalsScored">
      <documentation>Returns the total number of goals scored</documentation>
      <input message="tns:GoalsScoredSoapRequest"/>
      <output message="tns:GoalsScoredSoapResponse"/>
    </operation>
    <operation name="GroupFirstGameDate">
      <documentation>Returns the date of the first game in this group</documentation>
      <input message="tns:GroupFirstGameDateSoapRequest"/>
      <output message="tns:GroupFirstGameDateSoapResponse"/>
    </operation>
    <operation name="GroupInfo">
      <documentation>Returns a list of groups (poule phase and later round of 16 etc) and the information such as name and date first and last game</documentation>
      <input message="tns:GroupInfoSoapRequest"/>
      <output message="tns:GroupInfoSoapResponse"/>
    </operation>
    <operation name="GroupLastGameDate">
      <documentation>Returns the date of the last game in this group. For the group code call the function GroupInfo</documentation>
      <input message="tns:GroupLastGameDateSoapRequest"/>
      <output message="tns:GroupLastGameDateSoapResponse"/>
    </operation>
    <operation name="GroupStandings">
      <documentation>Returns an the standings in each group by passing the group ID. For the group ID call the function GroupInfo</documentation>
      <input message="tns:GroupStandingsSoapRequest"/>
      <output message="tns:GroupStandingsSoapResponse"/>
    </operation>
    <operation name="LevelFirstGameDate">
      <documentation>Returns the date of the first game in this level. For a level Number call the Levels Function.</documentation>
      <input message="tns:LevelFirstGameDateSoapRequest"/>
      <output message="tns:LevelFirstGameDateSoapResponse"/>
    </operation>
    <operation name="LevelLastGameDate">
      <documentation>Returns the date of the last game in this level For a level number call the Levels function. For a level Number call the Levels Function.</documentation>
      <input message="tns:LevelLastGameDateSoapRequest"/>
      <output message="tns:LevelLastGameDateSoapResponse"/>
    </operation>
    <operation name="Levels">
      <documentation>Returns a array with level numbers. The numbers can be used in functions that require or offer an option to pass a level number such as LevelFirstGameDate</documentation>
      <input message="tns:LevelsSoapRequest"/>
      <output message="tns:LevelsSoapResponse"/>
    </operation>
    <operation name="MatchDates">
      <documentation>Returns a list with tournament dates</documentation>
      <input message="tns:MatchDatesSoapRequest"/>
      <output message="tns:MatchDatesSoapResponse"/>
    </operation>
    <operation name="NextGames">
      <documentation>Returns an array with the next games of date that is greater than or equal to today. Only games of one day are returned.</documentation>
      <input message="tns:NextGamesSoapRequest"/>
      <output message="tns:NextGamesSoapResponse"/>
    </operation>
    <operation name="Players">
      <documentation>Get the top 10 players where name, fullname, firstname or lastname contains the value of sName</documentation>
      <input message="tns:PlayersSoapRequest"/>
      <output message="tns:PlayersSoapResponse"/>
    </operation>
    <operation name="PlayerRoles">
      <documentation>Returns an array with the roles a player can have (defender etc)</documentation>
      <input message="tns:PlayerRolesSoapRequest"/>
      <output message="tns:PlayerRolesSoapResponse"/>
    </operation>
    <operation name="PlayersWithCardsRanked">
      <documentation>Returns an array with the names of all players that have a yellow or a red card. The number of yellow and red cards is returned.</documentation>
      <input message="tns:PlayersWithCardsRankedSoapRequest"/>
      <output message="tns:PlayersWithCardsRankedSoapResponse"/>
    </operation>
    <operation name="PlayersWithGoalsRanked">
      <documentation>Returns an array with the names of all players that have scored a goal.</documentation>
      <input message="tns:PlayersWithGoalsRankedSoapRequest"/>
      <output message="tns:PlayersWithGoalsRankedSoapResponse"/>
    </operation>
    <operation name="ResultsAllGames">
      <documentation>Returns game result of all games overall, in one group or at one level. When groupid &lt; 1 All games are processed (optionally filtered by level). A Group ID or level can be retrieved via GroupInfo.</documentation>
      <input message="tns:ResultsAllGamesSoapRequest"/>
      <output message="tns:ResultsAllGamesSoapResponse"/>
    </operation>
    <operation name="StadiumGoogleMapsURL">
      <documentation>Returns a URL that can be used to show a small map of the stadium. For the name of the stadium call the funciton StadiumNames</documentation>
      <input message="tns:StadiumGoogleMapsURLSoapRequest"/>
      <output message="tns:StadiumGoogleMapsURLSoapResponse"/>
    </operation>
    <operation name="StadiumInfo">
      <documentation>Returns the information stored about a particular stadium. For that pass the exact name of the stadium. For the name of the stadium call the funciton StadiumNames</documentation>
      <input message="tns:StadiumInfoSoapRequest"/>
      <output message="tns:StadiumInfoSoapResponse"/>
    </operation>
    <operation name="StadiumNames">
      <documentation>Returns an array of stadium names where the games are played</documentation>
      <input message="tns:StadiumNamesSoapRequest"/>
      <output message="tns:StadiumNamesSoapResponse"/>
    </operation>
    <operation name="TeamIDsByGroup">
      <documentation>Returns a list of team IDs based on passed GroupCode (e.g A or H). For the group code call the function GroupInfo</documentation>
      <input message="tns:TeamIDsByGroupSoapRequest"/>
      <output message="tns:TeamIDsByGroupSoapResponse"/>
    </operation>
    <operation name="TeamPlayers">
      <documentation>Get the players of a team. This is the current squad. For the team name call the function TeamNames. Pass a 1 for selected players only or 0 for all registered players that belong to the team (now and in the past)</documentation>
      <input message="tns:TeamPlayersSoapRequest"/>
      <output message="tns:TeamPlayersSoapResponse"/>
    </operation>
    <operation name="TeamNames">
      <documentation>Returns an array with team names. The names can be used in functions that require or offer an option to pass a teamname</documentation>
      <input message="tns:TeamNamesSoapRequest"/>
      <output message="tns:TeamNamesSoapResponse"/>
    </operation>
    <operation name="Teams">
      <documentation>Get the top 10 teams starting with or containing the value of sTeamName. For the team name call the function TeamNames</documentation>
      <input message="tns:TeamsSoapRequest"/>
      <output message="tns:TeamsSoapResponse"/>
    </operation>
    <operation name="TopScorersList">
      <documentation>Returns an array with the 5 best performing players.</documentation>
      <input message="tns:TopScorersListSoapRequest"/>
      <output message="tns:TopScorersListSoapResponse"/>
    </operation>
  </portType>
  <binding name="InfoSoapBinding" type="tns:InfoSoapType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="AllCardsInfo">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AllPlayerNames">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AllPlayersWithCards">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AllPlayersWithRole">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AllStadiumInfo">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AllTeamCoachNames">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Cards">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CityNames">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Countries">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="FirstLastGamesEachLevel">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GameIDsGroupedByCity">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GameScore">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GameTeamScore">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GoalsScored">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GroupFirstGameDate">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GroupInfo">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GroupLastGameDate">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GroupStandings">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="LevelFirstGameDate">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="LevelLastGameDate">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Levels">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="MatchDates">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="NextGames">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Players">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PlayerRoles">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PlayersWithCardsRanked">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PlayersWithGoalsRanked">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ResultsAllGames">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="StadiumGoogleMapsURL">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="StadiumInfo">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="StadiumNames">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="TeamIDsByGroup">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="TeamPlayers">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="TeamNames">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Teams">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="TopScorersList">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <binding name="InfoSoapBinding12" type="tns:InfoSoapType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="AllCardsInfo">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="AllPlayerNames">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="AllPlayersWithCards">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="AllPlayersWithRole">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="AllStadiumInfo">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="AllTeamCoachNames">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="Cards">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="CityNames">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="Countries">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="FirstLastGamesEachLevel">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="GameIDsGroupedByCity">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="GameScore">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="GameTeamScore">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="GoalsScored">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="GroupFirstGameDate">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="GroupInfo">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="GroupLastGameDate">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="GroupStandings">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="LevelFirstGameDate">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="LevelLastGameDate">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="Levels">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="MatchDates">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="NextGames">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="Players">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="PlayerRoles">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="PlayersWithCardsRanked">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="PlayersWithGoalsRanked">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="ResultsAllGames">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="StadiumGoogleMapsURL">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="StadiumInfo">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="StadiumNames">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="TeamIDsByGroup">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="TeamPlayers">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="TeamNames">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="Teams">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="TopScorersList">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Info">
    <documentation>DataFlex Web Service for public information from the DataFlex Football Pool</documentation>
    <port name="InfoSoap" binding="tns:InfoSoapBinding">
      <soap:address location="https://ws.footballpool.dataaccess.eu/info.wso"/>
    </port>
    <port name="InfoSoap12" binding="tns:InfoSoapBinding12">
      <soap12:address location="https://ws.footballpool.dataaccess.eu/info.wso"/>
    </port>
  </service>
</definitions>
