Year_3/TSDWL/WSDL/BankClient/web/WEB-INF/wsdl/localhost_8080/WsBank/BankOperations.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bank.exam.dmi.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bank.exam.dmi.it/" name="BankOperations">
<types>
<xsd:schema>
<xsd:import namespace="http://bank.exam.dmi.it/" schemaLocation="http://localhost:8080/WsBank/BankOperations?xsd=1"/>
</xsd:schema>
</types>
<message name="getAmount">
<part name="parameters" element="tns:getAmount"/>
</message>
<message name="getAmountResponse">
<part name="parameters" element="tns:getAmountResponse"/>
</message>
<message name="deposit">
<part name="parameters" element="tns:deposit"/>
</message>
<message name="depositResponse">
<part name="parameters" element="tns:depositResponse"/>
</message>
<message name="get">
<part name="parameters" element="tns:get"/>
</message>
<message name="getResponse">
<part name="parameters" element="tns:getResponse"/>
</message>
<portType name="BankOperations">
<operation name="getAmount">
<input wsam:Action="http://bank.exam.dmi.it/BankOperations/getAmountRequest" message="tns:getAmount"/>
<output wsam:Action="http://bank.exam.dmi.it/BankOperations/getAmountResponse" message="tns:getAmountResponse"/>
</operation>
<operation name="deposit">
<input wsam:Action="http://bank.exam.dmi.it/BankOperations/depositRequest" message="tns:deposit"/>
<output wsam:Action="http://bank.exam.dmi.it/BankOperations/depositResponse" message="tns:depositResponse"/>
</operation>
<operation name="get">
<input wsam:Action="http://bank.exam.dmi.it/BankOperations/getRequest" message="tns:get"/>
<output wsam:Action="http://bank.exam.dmi.it/BankOperations/getResponse" message="tns:getResponse"/>
</operation>
</portType>
<binding name="BankOperationsPortBinding" type="tns:BankOperations">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deposit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankOperations">
<port name="BankOperationsPort" binding="tns:BankOperationsPortBinding">
<soap:address location="http://localhost:8080/WsBank/BankOperations"/>
</port>
</service>
</definitions>